name: Release

on:
  push:
    branches:
      - main

env:
  CI: true

permissions:
  contents: write
  pull-requests: write
  id-token: write

# Cancels in-progress runs when a new commit is pushed to the same branch.
concurrency: ${{ github.workflow }}-${{ github.ref }}

jobs:
  release:
    name: Release
    timeout-minutes: 15
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repo
        uses: actions/checkout@v4

      - name: Setup pnpm
        uses: pnpm/action-setup@v4

      - name: Setup node.js
        uses: actions/setup-node@v4
        with:
          node-version: 20
          cache: "pnpm"

      - name: Install dependencies
        run: pnpm install

      - name: Create release PR or publish to NPM package registry
        id: changesets
        uses: changesets/action@v1
        with:
          publish: pnpm ci:publish
          commit: "chore: update package versions"
          title: "chore: update package versions"
          createGithubReleases: false
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          NPM_TOKEN: ${{ secrets.NPM_TOKEN }}
